{% extends 'base.html' %}
{% load static %}

{% block title %}Commissions{% endblock %}
{% block content %}
  <h1>Commission Details</h1>  

  {% if request.user.is_authenticated %}
    {% if user == commissions.author %}
      <h3>Edit the current Commission?
      <a href="{% url 'commissions:commission_edit' pk=commissions.pk %}">
        <button type="submit">Yes</button></a></h3>
    {% endif %}
  {% endif %}

  <h2>Title: {{ commissions.title }}</h2>
  <h4>Made by: {{ commissions.author.profile.name }}<br>
    Description: {{ commissions.description }}<br>
    Status: {{ commissions.status }}<br>
    Date Created: {{ commissions.created_on }}<br>
    Date Updated:{{ commissions.updated_on }}</h4>

  <h3>Jobs:</h3>
    <ul>
      {% for job in commissions.jobs.all %}
        <b>Role: {{ job.role }}<br>
        People Required: {{ job.manpower_required }}<br>
        Open Slots: {{ job.open_manpower }} <br>
        Status: {{ job.status }}<br>
        </b>
        {% if request.user.is_authenticated %}
          {% if job.status != "Complete" %}
            <h3>Apply Here:
              <form action="{% url 'commissions:commission_detail' pk=commissions.pk %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                  <select id="job" name="job">
                  <option value="{{ job.pk }}">{{ job.role }}</option>
                  </select>
                <input type="submit" value="Apply to Job">
              </form>
            </h3>
          {% endif %}
        {% endif %}
        <br>
      {% endfor %}  
    </ul>
  <a href={% url 'commissions:commission_list' %}><button type="submit">Go Back</button></a>
{% endblock %}