{% extends 'base.html' %}

{% block content %}
    <h1>Product List</h1>

    <!-- Link to create a new product -->
    {% if request.user.is_authenticated %}
        Hi {{ user.profile.name }}!<br><br>
        <a href="{% url 'merchstore:product_create' %}">Add New Product</a>
    {% else %}
        Hi Stranger!<br><br>
    {% endif %}
   
    <!-- Display user's products -->
        {% if request.user.is_authenticated %}
            <h2>Your Products</h2>
            {% for product in products.all %}
                {% if user == product.owner.user %}
                <ul><li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li></ul>
                {% endif %}
            {% endfor %}
        {% endif %}
    
    
        {% if request.user.is_authenticated %}
            <h2>Products On Sale by User</h2>
            {% for product in products.all %}
                {% if product.status == "onsale" %}
                    {% if user == product.owner.user %}
                    <ul><li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li></ul>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

    <!-- Display all products -->
    <h2>All Products</h2>
    <ul>
        {% for product in products.all %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}
