{% extends 'base.html' %}

{% block content %}
    <h1>Product List</h1>

    <!-- Link to create a new product -->
    {% if request.user.is_authenticated %}
        {{ user.profile.name }}!<br><br>
        <a href="{% url 'merchstore:product_create' %}">Add New Product</a>
    {% else %}
        Stranger!<br><br>
        <a href="{% url 'login' %}"><button type="submit">Login</button></a>
    {% endif %}
   
    <!-- Display user's products -->
        <h2>Your Products</h2>
        {% if request.user.is_authenticated %}
            {% for product in products.all %}
                {% if user == product.owner.user %}
                    <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                {% endif %}
            {% endfor %}
        {% endif %}
    
    <h2>Products On Sale by User</h2>
    <ul>
        {% if request.user.is_authenticated %}
            {% for product in products.all %}
                {% if product.status == "onsale" %}
                    {% if user == product.owner.user %}
                    <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
    <!-- Display all products -->
    <h2>All Products</h2>
    <ul>
        {% for product in products.all %}
            <li><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
        {% endfor %}
    </ul>

    <!-- Logout form -->
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Logout</button>
    </form>
{% endblock %}
