{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Wiki Articles</h1>
{% if user.is_authenticated %}
    <h3>Your Articles</h3>
    {% for article in users_articles %}
        <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
    {% endfor %}
    <h3>Other Articles</h3>
    {% for category in categories %}
        <ul>{{ category.name }}</ul>
        {% for article in category.articles %}
            {% if article not in users_articles %}
            <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
{% else %}
    {% for category in categories %}
    <h3><ul>{{ category }}</ul></h3>
        {% for article in category.articles %}
            <li><a href='{{ article.get_absolute_url }}'>{{ article.title }}</a></li>
        {% endfor %}
    {% endfor %}
{% endif %}
<p><a href='/wiki/article/add'>Create an article!</a></p>
{% endblock %}