{% extends 'base.html' %}
{% load static %}

{% block pageheading%}
{% if object.heading_image %}
    <img src="{{ object.heading_image.url }}">
{% endif %}
<h1>{{ object.title }}</h1>
<h3>{{ object.category }}</h3>
<h4>Created on {{ object.created_on }}</h4>
{% if object.updated_on != object.created_on %}
    <h4>Updated on {{ object.updated_on }}</h4>
{% endif %}
{% if user = object.author %}
    <a href="{% url 'wiki:article_update_view' pk=object.pk %}">Edit the article</a>
{% endif %}
{% endblock %}

{% block content %}
    {{ object.entry }}

    <ul><h5>Comments</h5>
    {% if user.is_authenticated %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Submit comment</button>
    </form>
    {% endif %}
    {% for comment in article_comments %}
        <li>
        Posted by {{ comment.author.display_name }} on {{ comment.created_on }}
        <p>{{ comment.entry }}</p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}