<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
        <title>{% block title %}Our Hobbysite{% endblock %}</title>
    </head>
    <header>
        <br>
        <div class="topnav">
            [Hobbysite-G-15]
            <a href="{% url 'user_management:homepage' %}">
                <button type="submit">Home</button></a>
            <a href="{% url 'merchstore:product_list' %}">
                <button type="submit">Merchstore</button></a>
            <a href="{% url 'wiki:article_list_view' %}">
                <button type="submit">Wiki</button></a>
            <a href="{% url 'forum:thread-list' %}">
                <button type="submit">Forums</button></a>
            <a href="{% url 'commissions:commission_list' %}">
                <button type="submit">Commissions</button></a>
        </div><br>
        {% block login %}
            {% if user.is_authenticated %}
                You're logged in as {{ user.profile }}. Logout?
                <form method="POST" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                You're logged out. Login?
                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <button type="submit">Login</button>
                </form>
            {% endif %}
        {% endblock %}
        <br>
        <hr>
    </header>
    <body>
        {% block pageheading %}{% endblock %}
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        {% block scripts %}{% endblock %}
    </body>
</html>